body {
    background-color: #f2a67e;
}

button {
    padding: 10px;
    margin: 5px;
    font-size: 0.9em;
    border: 5px solid;
}

.main__button__a {
    padding: 12px;
    background-color: #ffffff;
    text-decoration: none;
    border: #146024 5px solid;
    height: 3.5rem;
    max-width: 7.5rem;
}

.main__h1 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    border: #ffffff 8px solid;
    color: rgb(127, 8, 66);
    background-color: #5dd176;
}

.date {
    font-size: 1.2em;
    margin-right: 15px;
    max-width: max-content;
    color: rgb(127, 8, 66);
    background-color: #5dd176;
    border: #ffffff 8px solid;
}

.main__container2 {
    margin-left: 20px;
    background-color: #5dd176;
    border: #ffffff 8px solid;
    color: rgb(127, 8, 66);
}

.main__image {
    padding-left: 120px;
}

.main__activity {
    background-color: #5dd176;
    border: #ffffff 8px solid;
    color: rgb(127, 8, 66);
    font-size: 1.2em;
    font-weight: bold;
}

.activity {
    color: rgb(127, 8, 66);
    font-size: 0.9em;

}

.chart {
    background-color: #ffffff;
    border: #ffffff 8px solid;
    padding: 10px;
    width: 35%;
}